@page {
  size: A4;
  margin: 25mm 15mm 30mm 15mm;
}
body {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  margin: 0;
}

/* HEADER & FOOTER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
  background: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25mm;
  border-top: 2px solid #000;
  text-align: center;
  background: #fff;
  padding-top: 6px;
  font-size: 13px;
}


.header-box {
  display: flex;
  padding: 10px;
}

.logo {
  width: 80px;
}

.header-center {
  flex: 1;
  text-align: center;
}

.header-right {
  text-align: right;
}

/* PAGE */
.page {
  padding: 30px;
  margin-top: 170px;
  margin-bottom: 130px;
  page-break-after: always;
}

.center { text-align: center; }
.justify { text-align: justify; }

.sign {
  margin-top: 60px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #000;
  padding: 6px;
}

.terms td:first-child {
  width: 40%;
}

/* FORM */
.form input {
  padding: 5px;
  margin-right: 5px;
}

.form button {
  padding: 5px 10px;
}

/* WATERMARK */
.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 100px;
  color: rgba(0,0,0,0.05);
  z-index: -1;
}
.sign {
  margin-top: 60px;
}

/* PRINT */
@media print {
  button, .form {
    display: none;
  }
}
